/* General styles */
html, body {
    height: 100%;
}

.svg-responsive {
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
}

/* Node-link graph. */
#node-link {
    height: 500px;
}
#node-link .node {
    font-size: 1rem;
}
#node-link .link {
    fill: none;
    stroke: #000;
}

/* Sunburst. */
#sunburst {
    height: 500px;
}